* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    user-select: none;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rows {
    position: relative;
    width: 100%;
    top: -50%;
    left: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    transform: rotate(-45deg);
}

i {
    opacity: 0.5;
    display: inline-block;
    fill: black;
    width: 75px;
    transition: 1s;
    height: 45px;
    user-select: none;
    cursor: default;
    padding: 2rem 0.5rem;
}

i:hover {
    transition: 0s;
    fill: #0f0;
    text-shadow: 0px 0px 100px #0f0;
}

.rows div {
    animation: animate1 120s linear infinite;
    animation-delay: -120s;
}

.rows:nth-child(even) div {
    animation: animate2 120s linear infinite;
    animation-delay: -60s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.heart {
    color: red;
}

.gameName {
    z-index: 1;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 5rem;
    font-family: 'Sigmar', cursive;
    pointer-events: none;
    user-select: none;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.madeBy {
    z-index: 1;
    position: fixed;
    bottom: 0;
    color: white;
    padding: 1rem 0;
}

.btns {
    z-index: 1;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
    text-decoration: none;
    color: rgb(244, 238, 238);
    padding: 0.75rem 1.2rem;
    background-color: none;
    text-align: center;
    margin: 1rem;
    border: none;
    font-family: 'Russo One', sans-serif;
    transition: 0.2s;
}

.normalTri {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1bb32d;
    clip-path: polygon(49% 0%, 51% 0, 100% 100%, 0 100%);
    background: linear-gradient(90deg, rgb(6, 102, 6), rgb(99, 172, 81));
    width: 50vmin;
    height: 30vmin;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    right: -45%;
}

.normalTri:hover {
    letter-spacing: 2px;
    background: rgb(20, 92, 144);
}

.hackerTri {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1bb32d;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    background: linear-gradient(0deg, rgb(99, 172, 81), rgb(11, 128, 11));
    width: 50vmin;
    height: 30vmin;
    transition: 0.2s;
    cursor: pointer;
}

.hackerTri:hover {
    letter-spacing: 2px;
    background: rgb(188, 181, 36);
}

.hackerPlusTri {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1bb32d;
    clip-path: polygon(49% 0%, 51% 0, 100% 100%, 0 100%);
    background: linear-gradient(270deg, rgb(11, 128, 11), rgb(99, 172, 81));
    width: 50vmin;
    height: 30vmin;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    right: 45%;
}

.hackerPlusTri:hover {
    letter-spacing: 2px;
    background: rgb(231, 18, 18);
    color: red;
}

.normalMode {
    position: relative;
    top: 15%;
}

.hackerMode {
    position: relative;
    top: -10%;
}

.hackerPlusMode {
    position: relative;
    top: 15%;
}

.normalMode:hover {
    letter-spacing: 2px;
    color: rgb(248, 248, 248);
}


.hackerMode:hover {
    letter-spacing: 2px;
    color: white;
}

.hackerPlusMode:hover {
    letter-spacing: 2px;
}

.myName {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.myName:hover {
    color: rgb(48, 160, 28)
}

@media (width<=1000px) {
    .gameName {
        font-size: 4rem;
    }
}