* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    user-select: none;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rows {
    position: relative;
    width: 100%;
    top: -50%;
    left: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    transform: rotate(-45deg);
}

i {
    opacity: 0.5;
    display: inline-block;
    fill: black;
    width: 75px;
    transition: 1s;
    height: 45px;
    user-select: none;
    cursor: default;
    padding: 25px 10px;
}

i:hover {
    transition: 0s;
    fill: #0f0;
    text-shadow: 0px 0px 100px #0f0;
}

.rows div {
    animation: animate1 120s linear infinite;
    animation-delay: -120s;
}

.rows:nth-child(even) div {
    animation: animate2 120s linear infinite;
    animation-delay: -60s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.heart {
    color: red;
}

.gameName {
    z-index: 1;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 5rem;
    font-family: 'Sigmar', cursive;
    pointer-events: none;
    user-select: none;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.madeBy {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 45%;
    color: white;
    padding: 0.25rem
}

.btns {
    z-index: 1;
    position: relative;
    right: 18%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 10%;
}

.btns a {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
    text-decoration: none;
    color: rgb(14, 13, 13);
    padding: 0.75rem 1.2rem;
    background-color: none;
    text-align: center;
    margin: 1rem;
    border: none;
    font-family: 'Russo One', sans-serif;
    background-color: white;
    border-radius: 50%;
    background-color: green;
    transition: 0.2s;
}

/* .normalTri {
    position: absolute;
    top: 50%;
    left: 22%;
    width: 0;
    height: 0;
    border: 13rem solid rgb(63, 171, 30);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: rgb(98, 186, 26);
    border-bottom-color: transparent;
}

.hackerTri {
    position: absolute;
    top: 25%;
    left: 37%;
    width: 0;
    height: 0;
    border: 13rem solid rgb(63, 171, 30);
    border-bottom-color: rgb(98, 186, 26);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.hackerPlusTri {
    position: absolute;
    top: 50%;
    left: 52%;
    width: 0;
    height: 0;
    border: 13rem solid rgb(63, 171, 30);
    border-top-color: rgb(98, 186, 26);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}*/




.normalMode:hover {
    letter-spacing: 2px;
    color: rgb(248, 248, 248);
    background-color: blue;
    box-shadow: 0px 0px 20px blue;
}



.hackerMode:hover {
    letter-spacing: 2px;
    color: white;
    background-color: gold;
    box-shadow: 0px 0px 20px gold;
}


.hackerPlusMode:hover {
    letter-spacing: 2px;
    color: white;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 20px red;
}

.myName {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.myName:hover {
    color: rgb(48, 160, 28)
}